<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Confirmação do Pedido</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			O seu pedido é: <span th:text="${pedido.id}"> </span>
		</h1>
		<p>
			Data de realização: <span
				th:text="${#dates.format(pedido.dataPedido, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		<p>
			Comprador: <span th:text="${pedido.comprador.nome}"></span>
		</p>
		<p>
			Situação atual: <span
				th:text="${pedido.status.descricao}"></span>
		</p>
		<h3>Detalhes do pedido:</h3>
		<table border="1">
			<tr>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Preço unitário</th>
				<th>Subtotal</th>
			</tr>
			<tr th:each="item : ${pedido.itensPedido}">
				<td th:text="${item.produto.nome}">nome</td>
				<td th:text="${item.quantidade}">quantidade</td>
				<td
					th:text="${#numbers.formatDecimal(item.preco, 0, 'POINT', 2,
'COMMA')}">preco</td>
				<td
					th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2,
'COMMA')}">subTotal</td>
			</tr>
		</table>
		<p>
			Valor total: <span
				th:text="${#numbers.formatDecimal(pedido.valorTotal, 0,
'POINT', 2, 'COMMA')}"></span>
		</p>
		<p><strong>Equipe Locommerce</strong></p>
	</div>
</body>
</html> 