<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Loja Aprovada</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Olá, <span th:text="${loja.proprietario.nome}"> </span>
		</h1>
		<p>
			Infelizmente a sua loja <span th:text="${loja.nomeFantasia}"></span> (CNPJ: <span th:text="${loja.cnpj}"></span>) da categoria <span th:text="${loja.categoria.descricao}"></span> 
			foi reprovada da nossa plataforma.
		</p>
		<p>
			Segue abaixo o motivo da reprovação:
		</p>
		<p>
			<span th:text="${loja.justificativaReprovacao}"></span>
		</p>
		<p>
			Caso tenha alguma pendência, regularize-as e tente realizar o cadastro novamente.
		</p>
		<p><strong>Equipe Locommerce</strong></p>
	</div>
</body>
</html> 