<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Loja Aprovada</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Olá, <span th:text="${loja.proprietario.nome}"> </span>
		</h1>
		<p>
			A sua loja <span th:text="${loja.nomeFantasia}"></span> (CNPJ: <span th:text="${loja.cnpj}"></span>) da categoria <span th:text="${loja.categoria.descricao}"></span> 
			foi aprovada com sucesso na nossa plataforma!
		</p>
		<p>
			Acesse agora o Locommerce com o seu e-mail e senha de vendedor cadastrado e comece a anunciar os seus produtos para o público da sua região.
		</p>
		<h3>
			Boas vendas!
		</h3>
		<p><strong>Equipe Locommerce</strong></p>
	</div>
</body>
</html> 